
h1 {text-align: center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  }
h2 {text-align: center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  }
div {text-align: center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; display: block;}


.parent { 
    border: 5px black ridge;
    display: inline-block;
    width: 90%;
    height: 400px;
}

img {width: 300px; }

.box-sizing-content {
    box-sizing: content-box;
    width: 50%;
    height: 60%;
    border: 1em rgb(91, 89, 99) ridge;
    float: left ;
}

#foto { 
    height: 100%;
    width: 100%;
    background-color: beige;
    padding: 10px;
    border: 10px;
    margin: 10px;
}
